{% extends 'base.html' %}
{% block content %}

  <h1>{{ question.question }}</h1>

  <form action="/answer" method="POST">

      <!-- you should have one item like this for every choice -->
      {%for choice in question.choices%}
      <p>
        <input
            type="radio"
            name="answer"
            value="{{choice}}">
        {{choice}}
      </p>
      {% endfor %}
    <button>Continue</button>
  </form>

{% endblock %}



<!-- <form action="/begin" method="POST">
  {% for question in questions %}
  <div>
    <label for="{{question.index}}"> {{ question.question }}</label>
    <select name="{{question.index}}">
      {% for choice in question.choices %}
      <option value="{{choice}}">{{ choice }}</option>
  </div>
  {% endfor %}

  </select>
  {% if question.allow_text %}
  <input type="text" name="{{question.allow_text}}">

  {% endif %}

  {% endfor %}
  <div> -->